body    {
        background-image: url("/img/holographic-circuit-board-0amzahbmmp2bg9u6.jpg");   
        background-size: cover;
        background-repeat: no-repeat;
        }

h1      {
        color: lightblue;
        margin: auto;
        display: block;
	    font-size: 2em;
        font-size: 50px;
        }

h2      {
        color:lightgreen;
        display: inline-block;
        background-color: black;
        }
h3      {
        color:lightblue;
        display: inline-block;
        background-color: black;
        }
h4      {
        color:blue;
        display: inline-block;
        background-color: black;
        }


p       {
        color:red;
        }
ul      {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        }
li      {
        float: left;
        color: white;
        }
li a    {
        display: inline-block;
        padding: 8px;
        background-color: gray;
        }

        li a1   {
            display: inline-block;
            padding: 8px;
            background-color: red;
                }
        li a2   {
            display: inline-block;
            padding: 8px;
            background-color: green;
                }
        li a3   {
            display: inline-block;
            padding: 8px;
            background-color: blue;
                }