/*
body li ul{
    background: gold;
    width: 170px;
    border: 1px solid #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: #fff;
    font-size: 18px;
    position: relative;
    font-family:Georgia, 'Times New Roman', Times, serif;
	z-index: 1;
}
body li ul:hover{
    background: crimson;
	z-index: 2;
}
li a {
    display: block;
    color: black;
    padding: 10px 0 10px 15px;
    text-decoration: none;
}
.navbar{
    height: 120px;
    display: flex;
    justify-content: ;
    align-items: center;
}
*/