* {
    box-sizing: border-box;
  }
  
  body {
    background-image: url("../img/216286.jpg");
    background-size: 100%;
    background-attachment: fixed;
    color: #FFCC00;
    font-family: Tahoma;
    font-size: 110%;
    overflow-x: hidden;
    margin-left: -12cm;
    }
  
  /* Style the header */
  .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
  }
  
  /* Middle column */
  .column.middle {
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
   }
    
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }